################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/FeatureBranchTest/v15/.suo
/.vs/FeatureBranchTest/v15/.suo
/.vs/FeatureBranchTest/v15/.suo
